<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>yelp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEB6DDEB1F9C56D200366439</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEB6DE041F9C56D200366439</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEB6DE0F1F9C56D300366439</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
